<% if @buildings.any? %>

<table class="table" cellspacing="10">
	<tr>
<th>Адрес</th>
<th class="span3" >Расстояние от маркера*</th>
	</tr>
	<% @buildings.each do |building| %>
	<tr>
		<td><%= building.address %></td> 
		<td class="distance"><%= format_distance(building.distance) %></td>
	</tr>
	<% end %>
</table>
<p class="notice" >*Здания отображаются в радиусе 4 км от маркера</p>
<% end %>